<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>
    <body class="has-background-white-ter">

        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <section class="hero is-smaller has-background-grey-light">
            <div class="hero-body">
              <p class="title" id="start-sub">
                My Boulder Problems
              </p>
            </div>
        </section>
        <section class="hero is-small has-background-white-ter">
            <div class="hero-body">
              <p class="title" id="start-sub">
                <a href="/climbs/new">new climb</a>&emsp;&emsp;
              </p>
            </div>
        </section>
        <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-around">
            <% for(let i = 0; i < boulders.length; i++){ %> 
                <div class="card">
                    <header class="card-header">   
                        <p class="card-header-title">
                            <a href="/climbs/<%=boulders[i].id; %>"><strong><%=boulders[i].name; %></strong></a> &nbsp; <%=boulders[i].grade; %>
                        </p>
                    </header>
                    <div class="media-content">
                        <div class="content">
                                <% if (boulders[i].url === true) { %>
                                    <img class="image" src="<%= boulders[i].url; %>" />
                                <% } else { %>
                                <% } %>
                            <p class="boulder-subtitle">
                                <small><%=boulders[i].location; %></small></br>
                                <small><time datetime="2021-1-1"><%=boulders[i].date; %></time></small><br></br>
                            </p> 
                            <p class="media-text">   
                                <strong>Rock Face:</strong>
                                <% if (boulders[i].slab === true) { %>
                                    slab &ensp;
                                <% } else { %>
                                <% } %>
                                    <% if (boulders[i].vertical === true) { %>
                                    vertical &ensp;
                                <% } else { %>
                                <% } %>
                                    <% if (boulders[i].overhung === true) { %>
                                    overhung
                                <% } else { %>
                                <% } %>
                                </br>
                            </p>
                            <p class="media-text">
                                <strong>Holds:</strong>&ensp;
                                <% if (boulders[i].jugs === true) { %>
                                    jugs &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].crimps === true) { %>
                                    crimps &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].slopers === true) { %>
                                    slopers &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].pinches === true) { %>
                                    pinches &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].pockets === true) { %>
                                    pockets &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].volumes === true) { %>
                                    volumes &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].cracks === true) { %>
                                    cracks &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].aretes === true) { %>
                                    aretes &ensp;
                                <% } else { %>
                                <% } %>
                                </br>
                            </p>
                            <p class="media-text">
                                <strong>Techniques Used:</strong>&ensp; 
                                <% if (boulders[i].edging === true) { %>
                                    edging &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].smearing === true) { %>
                                    smearing &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].flagging === true) { %>
                                    flagging &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].stemming === true) { %>
                                    stemming &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].bathanging === true) { %>
                                    bat-hanging &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].liebacking === true) { %>
                                    lie-backing &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].mantling === true) { %>
                                    mantling &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].dropkneeing === true) { %>
                                    drop-kneeing &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].sidepulling === true) { %>
                                    side-pulling &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].palming === true) { %>
                                    palming &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].dynoing === true) { %>
                                    dyno-ing &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].gastoning === true) { %>
                                    gastoning &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].heelhooking === true) { %>
                                    heel-hooking &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].toehooking === true) { %>
                                    toe-hooking &ensp;
                                <% } else { %>
                                <% } %>
                                <% if (boulders[i].lockingoff === true) { %>
                                    locking-off
                                <% } else { %>
                                <% } %>
                            
                            </p>   
                        </div>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                          <a class="level-item" aria-label="reply">
                            <span class="icon is-small">
                              <i class="fas fa-reply" aria-hidden="true"></i>
                            </span>
                          </a>
                          <a class="level-item" aria-label="retweet">
                            <span class="icon is-small">
                              <i class="fas fa-retweet" aria-hidden="true"></i>
                            </span>
                          </a>
                          <a class="level-item" aria-label="like">
                            <span class="icon is-small">
                              <i class="fas fa-heart" aria-hidden="true"></i>
                            </span>
                          </a>
                        </div>
                    </nav>          
                </div>
            <% } %>
        </div>
        <!-- THE HEAD TAG PARTIAL -->
            <%- include("partials/footer") %>
    </body>
</html>