<!DOCTYPE html>
<html>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Entries Show Page</h1>        
        <div class="box">
            <article class="media">       
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong><%=boulder?.name; %></strong>  <%=boulder?.grade; %></br>    
                            <small><%=boulder?.location; %></small><br></br>
                            <img class="image" src="<%= boulder?.url; %>" /></br>
                            <strong>Rock Face:</strong></br>
                            <% if (boulder?.slab === true) { %>
                                slab</br>
                            <% } else {} %>
                                <% if (boulder?.vertical === true) { %>
                                vertical</br>
                            <% } else {} %>
                                <% if (boulder?.overhung === true) { %>
                                overhung</br>
                            <% } else {} %>
                            </br>
                            <strong>Holds:</strong></br>
                            <% if (boulder.jugs === true) { %>
                                jugs</br>
                            <% } else {} %>
                            <% if (boulder.crimps === true) { %>
                                crimps</br>
                            <% } else {} %>
                            <% if (boulder.slopers === true) { %>
                                slopers</br>
                            <% } else {} %>
                            <% if (boulder.pinches === true) { %>
                                pinches</br>
                            <% } else {} %>
                            <% if (boulder.pockets === true) { %>
                                pockets</br>
                            <% } else {} %>
                            <% if (boulder.volumes === true) { %>
                                volumes</br>
                            <% } else {} %>
                            <% if (boulder.cracks === true) { %>
                                cracks</br>
                            <% } else {} %>
                            <% if (boulder.aretes === true) { %>
                                aretes</br>
                            <% } else {} %>
                            </br>
                            <strong>Techniques Used:</strong></br> 
                            <% if (boulder.edging === true) { %>
                                edging</br>
                            <% } else {} %>
                            <% if (boulder.smearing === true) { %>
                                smearing</br>
                            <% } else {} %>
                            <% if (boulder.flagging === true) { %>
                                flagging</br>
                            <% } else {} %>
                            <% if (boulder.stemming === true) { %>
                                stemming</br>
                            <% } else {} %>
                            <% if (boulder.bathanging === true) { %>
                                bat-hanging</br>
                            <% } else {} %>
                            <% if (boulder.liebacking === true) { %>
                                lie-backing</br>
                            <% } else {} %>
                            <% if (boulder.mantling === true) { %>
                                mantling</br>
                            <% } else {} %>
                            <% if (boulder.dropkneeing === true) { %>
                                drop-kneeing</br>
                            <% } else {} %>
                            <% if (boulder.sidepulling === true) { %>
                                side-pulling</br>
                            <% } else {} %>
                            <% if (boulder.palming === true) { %>
                                palming</br>
                            <% } else {} %>
                            <% if (boulder.dynoing === true) { %>
                                dyno-ing</br>
                            <% } else {} %>
                            <% if (boulder.gastoning === true) { %>
                                gastoning</br>
                            <% } else {} %>
                            <% if (boulder.heelhooking === true) { %>
                                heel-hooking</br>
                            <% } else {} %>
                            <% if (boulder.toehooking === true) { %>
                                toe-hooking</br>
                            <% } else {} %>
                            <% if (boulder.lockingoff === true) { %>
                                locking-off
                            <% } else {} %>
                        </p>   
                    </div>
                </div>
            </article>
        </div>  
        <a href="/climbs/<%=boulder._id; %>/edit">edit</a>
        <!--  ADD DELETE FORM HERE-->
        <form action="/climbs/<%= boulder._id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/>
        </form>
        <br></br>

        <nav>
            <a href="/climbs">back to boulder problems</a>
        </nav>
    </body>
</html>

